
/*     */
/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #222A35 !important;
}
.user_card {
    height: 485px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: #131633;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    top: 18px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 10px;
}
.login_btn {
    width: 77%;
    background: #425189 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #425189 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-group{

}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

#login_result{
    margin-top: 72px;
}

#login_user {
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
}




/*    */



.companyLoginLogo{
    height: 94px;
    width: 235px;
}

.box-login{
    width: 480px;
    height: 530px;
    padding: 20px;
    background: #131633;
    border-radius: 5px;
    border-top: 0px;
    margin: 120px auto;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
    box-shadow: none;
    border-radius: 4px;
    border-color: #dfe3e8;
}
.form-control:focus {
    border-color: #4286f4;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.input-group-addon {
    padding: 6px 12px;
    background: #425189;
    height: 38px;
}




button#submit.btn.btn-primary{
    width: 398px !important;
}





@media (max-width: 1200px){
    .search-form .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px) {

    .input-group {
        width: 100%;
        margin-bottom: 15px;
    }

    .input-group .form-control {
        max-width: none;
    }

    .login-form .btn {
        width: 100%;
    }

    #username.form-control.input_login {
        margin-bottom: 0px;
    }

    #password.form-control.input_login {
        margin-bottom: 0px;
    }

}